# Load datasets from INEC
household_characteristics: `http://www.inec.go.cr/ingresos-y-gastos-de-hogares/ingresos-de-los-hogares`

Education: `http://www.inec.go.cr/educacion`

In [1]:
import preprocessing

In [2]:
household_characteriscits = preprocessing.INECDataSet('household_characteristics')
print(household_characteriscits.get_dataset_description())
hh_char = household_characteriscits.get_dataset()
hh_char.head()

Start to load data...
Processing... Please wait...

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Main characteristics of households and people
By quintiles of household income per capita
According to planning region
July 2010-2017
(Excludes domestic service and pensioners)

,Category,Total,Quintil 1,Quintil 2,Quintil 3,Quintil 4,Quintil 5,region,year
0,Total people,4551553,1052105,959510,954140,842427,743371,Whole Costa Rica,2010
1,Total households,1289716,257879,258035,257935,257731,258136,Whole Costa Rica,2010
2,Members per household,3.52911,4.07984,3.71853,3.69915,3.26863,2.87976,Whole Costa Rica,2010
3,Work force by household,1.58406,1.17657,1.43144,1.78882,1.81789,1.70563,Whole Costa Rica,2010
4,Occupied by household,1.46817,0.935943,1.29298,1.6794,1.76074,1.67181,Whole Costa Rica,2010

In [3]:
hh_char.groupby('region').groups.keys()

dict_keys(['Brunca', 'Central', 'Chorotega', 'Huetar Atlántica', 'Huetar Norte', 'Pacífico Central', 'Whole Costa Rica'])

In [4]:
education = preprocessing.INECDataSet('edu')
print(education.get_dataset_description())
edu = education.get_dataset()
edu.head()

Start to load data...
Costa Rica: Population from 5 to 24 years old, percentage distribution

For attendance at regular education
According to planning area and region

,region,5-24 total,5-24 not attend%,5-24 attend%,5-12 total,5-12 not attend%,5-12 attend%,13-17 total,13-17 not attend%,13-17 attend%,18-24 total,18-24 not attend%,18-24 attend%,year
0,Total,1646747,29.6364,70.3636,581477,3.86223,96.1378,436865,16.864,83.136,628405,62.365,37.635,2010
1,Urbana,1158249,28.9644,71.0356,389829,3.00568,96.9943,297708,14.0668,85.9332,470712,59.8848,40.1152,2010
2,Rural,488498,31.2296,68.7704,191648,5.60455,94.3955,139157,22.8483,77.1517,157693,69.7685,30.2315,2010
3,Central,983942,29.5238,70.4762,328945,2.8184,97.1816,249967,14.4067,85.5933,405030,60.5422,39.4578,2010
4,Chorotega,131340,30.0122,69.9878,47884,4.88472,95.1153,36693,18.5076,81.4924,46763,64.7692,35.2308,2010

In [5]:
edu.groupby('region').count()

,5-24 total,5-24 not attend%,5-24 attend%,5-12 total,5-12 not attend%,5-12 attend%,13-17 total,13-17 not attend%,13-17 attend%,18-24 total,18-24 not attend%,18-24 attend%,year
region,,,,,,,,,,,,,
Brunca,8,8,8,8,8,8,8,8,8,8,8,8,8
Central,8,8,8,8,8,8,8,8,8,8,8,8,8
Chorotega,8,8,8,8,8,8,8,8,8,8,8,8,8
Huetar Atlántica,8,8,8,8,8,8,8,8,8,8,8,8,8
Huetar Norte,8,8,8,8,8,8,8,8,8,8,8,8,8
Pacífico Central,8,8,8,8,8,8,8,8,8,8,8,8,8
Rural,8,8,8,8,8,8,8,8,8,8,8,8,8
Total,8,8,8,8,8,8,8,8,8,8,8,8,8
Urbana,8,8,8,8,8,8,8,8,8,8,8,8,8

In [6]:
edu_level = preprocessing.INECDataSet('edu_lvl')
print(edu_level.get_dataset_description())
edu_lvl = edu_level.get_dataset()

Start to load data...
Costa Rica: Population of 5 years or more
By level of instruction
According to area, planning region and sex

In [7]:
edu_lvl.head()

,region,total,no education,incomplete primary,complete primary,secondary incomplete,secondary complete,technical secondary incomplete,technical secondary complete,undergraduate,postgraduate,no response,year,male
0,Total,1,342783,804670,974005,823792,474721,44302,62052,615389,66962,4847,2010,0
1,Total,0,173173,389207,479611,402412,222741,20352,30806,281516,34712,2239,2010,1
2,Total,0,169610,415463,494394,421380,251980,23950,31246,333873,32250,2608,2010,0
3,Urbana,1,208386,499808,638536,645985,401822,27356,49403,541447,61310,4177,2010,0
4,Urbana,0,104399,228286,307287,314591,186679,12844,23968,249454,31306,1878,2010,1

In [8]:
# https://www.geonames.org/export/
import os
import pandas as pd

city_locations = pd.read_csv(os.getcwd() + '/datasets/CR.txt', sep='\t', header = None)
city_locations = city_locations.loc[:,1:5].drop([2,3],axis=1).rename({1: 'name', 4: 'lat', 5: 'long'}, axis=1)
city_locations = city_locations.drop_duplicates(subset='name')
city_locations['location'] = list(city_locations[['lat','long']].itertuples(index=False, name=None))
city_locations = city_locations.drop(['lat','long'], axis=1)

location_table = pd.Series(city_locations['location'].tolist(), index=city_locations['name'])
location_table

name
Cerro Zurqui                               (10.059239999999999, -84.0332)
Río Zopole                                          (10.68333, -83.68333)
Zompopa                                              (10.0936, -85.47328)
Río Zent                                             (9.99652, -83.29845)
Zent                                                (10.02882, -83.27628)
Río Zelaya                                           (9.74873, -84.99041)
Zarcero                                             (10.18561, -84.39076)
Zaragoza                                            (10.04149, -84.42923)
Cerro del Zapotillo                                 (10.08333, -85.43333)
Río Zapote                                (10.294089999999999, -85.42081)
Quebrada del Zapote                                 (10.23333, -85.41667)
Estero del Zapote                                    (9.46667, -84.33333)
Caño Zapote                                            (10.55, -83.83333)
Zapote                                              (10.36495, -85.72267)
Río Zapotal                                          (9.91185, -85.37872)
Punta Zapotal                                       (10.51624, -85.81111)
Cerros Zapotal                                      (10.24348, -85.17658)
Zapotal                                             (10.49649, -85.79135)
Quebrada Zapilate                           (9.91667, -84.01666999999999)
Zapatón                                              (9.68479, -84.33333)
Río Zanjón                                          (10.02709, -84.15656)
Quebrada Zanja de Burro                   (10.646139999999999, -85.53267)
Punta Zancudo                                        (8.54776, -83.15093)
Zancudo                                              (8.53753, -83.14397)
Quebrada Zamora                            (10.11465, -84.76895999999999)
Isla Zahino                                            (10.31667, -85.35)
Zagala Vieja                              (10.098289999999999, -84.78399)
Zagala Nueva                                  (10.15, -84.76666999999999)
Punta Zacate                               (11.04875, -85.72728000000001)
Boca Zacate                                          (8.90175, -83.60596)
                                                   ...
Harry Both                                          (10.18366, -85.81623)
Mraz                                                 (8.68334, -83.10584)
Somosaguas                        (9.235560000000001, -83.39416999999999)
Mrea                                                (10.84981, -84.66355)
Papa Kilo                                            (9.15752, -83.73533)
Los Marin                                            (9.51755, -84.37289)
Playon Sur                                            (9.5789, -84.34401)
Altomonte                                            (9.36362, -83.62597)
Flying Crocodile                            (9.88449, -85.56421999999999)
Sarapiqui                                           (10.47123, -83.90719)
Agropecuaria Playa Caletas                  (9.74951, -85.25263000000001)
El Cerrito                                          (10.48067, -85.53356)
Palo Arco                                            (9.85201, -85.23775)
La Zampona                                          (10.30927, -85.49869)
Hacienda La Pacifica                                (10.45324, -85.14941)
Campo de Aterrizaje Finca Manu             (9.827810000000001, -83.06652)
Altagracia                                            (9.33271, -83.5827)
Dole Valencia                                       (10.42164, -84.26808)
Hacienda Rosa Maria                       (10.822989999999999, -85.61985)
Cobano                                               (9.69068, -85.10574)
Finca Chompipera                                    (10.98301, -84.77288)
La Yolanda                                           (9.54833, -84.55324)
Aerodamas                                   (9.45763, -84.20810999999999)
Concho North                              (10.829410000000001, -84.44202)
Los Angeles                               (10.454260000000001, -84.55581)
El Descanso de Poco Sol                   (10.868269999999999, -84.53103)
El Jaguar                                   (8.418560000000001, -83.3619)
El Castillo                                          (10.4262, -84.75699)
Finca Rosa Blanca                                    (10.04652, -84.1516)
Brunxu Apartments                            (9.4271, -84.15581999999999)
Length: 4852, dtype: object

In [9]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AI...") # Your Google API key

# load a Numpy array of (latitude, longitude) pairs
locations = gmaps.datasets.load_dataset("taxi_rides")

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
 def extract_province_indexes(ser, start = None, end = None):
        """
        Find pandas Series Indexes to extract data from a certain range starting (ending) with format NaN, province, Nan
        :param ser: Pandas Series to work on
        :type ser: Pandas Series
        :param start: name to look for for start
        :type start: same as ser.dtype
        :param end: name to look for for end
        :type end: same as ser.dtype
        :return: tuple of Pandas Series Index for where the data is located, as (start, end)
        """

        assert isinstance(ser, pd.core.series.Series), 'Input a Pandas Series'
        assert isinstance(search_type, str)
        assert any([start, end]), 'Must specify at least one of start / end'
#         if all(start, end):
#             start_index = ser[ser == start]
#             end_index = ser[ser == end]
#         elif start == None:
#             start_index = ser.index[0]
#             end_index = ser[ser == end]
#         elif end == None:
#             start_index = ser[ser == start]
#             end_index = ser.index[-1]
#         assert len(start_index) = 1, f'Could not find {start}'
#         assert len(end_index) = 1, f'Could not find {end}'
#         return (start_index.keys()[0], end_index.keys()[0])

In [11]:
import pandas as pd
import os

pd.read_excel(os.getcwd() + '/datasets/companies_2017.xls').drop('Unnamed: 0', axis=1)
costa_rica_provinces = ['SAN JOSÉ', 'HEREDIA', 'CARTAGO', 'ALAJUELA', 'GUANACASTE', 'PUNTARENAS', 'LIMÓN']